{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello Symfony!!!</h1>

    <a

            href="{{ path('register')}}">
        Register
    </a>

    <a href="{{ path('list') }}" > User List</a>
{% endblock %}
