{% extends 'base.html.twig' %}

{% block body %}
    <h1>User List</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-10">Name</th>
            <th scope="col" class="col-1">Username</th>
            <th scope="col" class="col-1">edit</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username}}</td>
                <td>
                    <a>
                        <i class="bi bi-pen"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
